$tab: '(max-width: 1024px)';
$mob: '(max-width: 700px)';

.space-card-wrapper{
  width: 21%;
  display: inline-block;
  padding: 1rem;
  margin: .5rem;
  background: white;
  img{background-color:#E8E8E8 }
  @media screen and (min-width: 701px) and (max-width: 1023px) {
    img{width: 15rem; }
  }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    img{width: 10rem; }
    width: 18%;
  }
  @media screen and (min-width: 1200px) and (max-width: 1349px) {
    img{width: 12rem; }
    width: 20%;
  }
  @media screen and (min-width: 1350px) and (max-width: 1639px) {
    img{width: 14rem; }
    width: 20%;
  }
  p{
    font-weight: 800;
    color: #485593;
    text-align: start;
    padding-left: 1rem;
    @media #{$mob} {
      padding-left: 2rem;
    }
  }
  h3{
    text-align: start;
    padding-left: 1rem;
    span {
      color: #485593;
      font-weight: 500;
      padding-left: .3rem;
    }
    @media #{$mob} {
      padding-left: 2rem;
    }
  }
  @media #{$tab} {
    width: 40%;
  }
  @media #{$mob} {
    width: 88%;
  }
}
